body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    background-image: url('kuro.jpg')
    }
h2 {
    color: indigo;
    }
p {
    color: indigo;
    }
