<!DOCTYPE html>
<html>
    <head>
        <title>Introduction</title>
        <style>
            body {background-color: rgba(146, 235, 205, 0.342);
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 20px;
                background-image: url('kuro.jpg')}
        </style>
    </head>
</html>
